.onboard{:align => 'center'}
  = render 'onboard/nav'
  
  .row.status_bar
    .span3
      %p
    .span6
      .center
        .title Welcome, #{current_user.first_name}
    .span3
      .button{:align => 'right'}
        = render 'onboard/buttons'

  .row{:style => 'padding-top: 20px; padding-bottom:200px'}
    .span1
      %p
    .span10
      %h2 We are going to take you on a quick tour!
    .span2
  .clear
